# WordPress
wp-config.php
wp-content/uploads/
wp-content/backup-*
wp-content/advanced-cache.php
wp-content/object-cache.php
wp-content/db.php

# Dependencies
/vendor

# OS files
.DS_Store
Thumbs.db
*.log

# Composer
composer.lock

# IDE
.vscode/
.idea/
*.swp
